.app {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
}

input {
  margin-bottom: 1rem;
}

.playing {
  display: grid;
  grid-template:
    "teams teams teams"
    "scoreHome . scoreAway"
    "finish finish finish";
}

.playing .teams {
  grid-area: teams;
  text-align: center;
}

.playing .homeBtn {
  grid-area: scoreHome;
}
.playing .awayBtn {
  grid-area: scoreAway;
}

.playing .finishBtn {
  grid-area: finish;
}
